{% extends "StuartHashtagBundle:Default:create.html.twig" %}
{% block extracss %} 
	<link href='/assets/css/create.css' rel='stylesheet' type='text/css'>
{% endblock %}
{% block main %}
<div class="bash well">
  {% if messages != 0 %}
    <div class="alert alert-danger alert-dismissable">{{ messages.error }}</div>
  {% endif %}
    
{% block themecreate %}{% endblock %}

<div id="general">
{{ form_start(form, {'attr': {'role': 'form'}}) }}
  <div class="form-group has-feedback" id="hash-fg">
        {{ form_errors(form.hashtag) }}
      <div class="input-group has-feedback">
        <span class="input-group-addon">#</span>
        {{ form_widget(form.hashtag, {'attr': {'class': 'form-control', 'placeholder': "What's your hashtag?"}}) }}
        <span class="glyphicon form-control-feedback fg-icon"></span>
      </div>
  </div>

  <div class="form-group has-feedback" id="name-fg">
    {{ form_errors(form.name) }}
    {{ form_widget(form.name, {'attr': {'class': 'form-control not-hashtag', 'placeholder': "What's the name of your bash?"}}) }}
    <span class="glyphicon form-control-feedback"></span>
  </div>

  <div class="form-group has-feedback" id="sub-fg">
    {{ form_errors(form.subdomain) }}
    <div class="input-group">
        {{ form_widget(form.subdomain, {'attr': {'class': 'form-control not-hashtag', 'placeholder': 'Where do you want it to be?'}}) }}
        <span class="glyphicon form-control-feedback fg-icon"></span>
        <span class="input-group-addon">.bashtag.me</span>
        
    </div>
  </div>
</div>
<!--
  <div class="form-group has-feedback">
    {{form_label(form.startDate)}}
    {{ form_errors(form.startDate) }}
    {{ form_widget(form.startDate, {'attr': {'class': 'form-control not-hashtag'}}) }}
  </div>

<p class="form-divider">Appearance</p>
  <div class="form-group">
    {{form_label(form.file)}}
    {{ form_errors(form.file) }}
    {{ form_widget(form.file, {'attr': {'class': 'form-control not-hashtag'}}) }}
  </div>

    <div class="form-group">
      {{form_label(form.themeId)}}
      {{ form_errors(form.themeId) }}
      {{ form_widget(form.themeId, {'attr': {'class': 'form-control not-hashtag'}}) }}
    {% block themeextend %}{% endblock %}
    </div>


<p class="form-divider">Admin Password</p>
   <div class="form-group has-feedback pass-fg">
      {{form_label(form.password)}}
      {{ form_errors(form.password) }}
      {{ form_widget(form.password, {'attr': {'class': 'form-control not-hashtag'}}) }}
      <span class="glyphicon form-control-feedback"></span>
   </div>

    <div class="form-group has-feedback pass-fg">
      <label for="confirmPass">Confirm Password</label>
      <input type="password" class="form-control" id="confirmPass">
      <span class="glyphicon form-control-feedback"></span>
    </div>

<p class="form-divider">Filters</p>
    <div class="form-group has-feedback pass-fg">
      <label for="profanity">Profanity Filter</label>
      <input type="checkbox" id="profanity">
    </div>
    {% block formextend %}{% endblock %}
-->
  {{ form_widget(form.create, {'attr': {'class': 'btn btn-default', 'disabled': 'disabled'}}) }}
  <span>Bashtag is coming soon.</span>
{{ form_end(form) }}
</div>
{% endblock %}
    
{% block extrascript %}
<script>
$(document).ready(function(){
    
$('#form_subdomain').keyup(function(e){
    var sub = $('#form_subdomain').val();
    if(sub.length > 3) {
        $.post("/checksub/"+sub, function(response){
            if(response.exists == false) {
                $('#sub-fg .fg-icon').removeClass("glyphicon-remove");
                $('#sub-fg .fg-icon').addClass("glyphicon-ok");
                $('#sub-fg').removeClass("has-error");
                $('#sub-fg').addClass("has-success");
                $('#sub-fg').addClass("has-feedback");
            } else {
                $('#sub-fg .fg-icon').removeClass("glyphicon-ok");
                $('#sub-fg .fg-icon').addClass("glyphicon-remove");
                $('#sub-fg').removeClass("has-success");
                $('#sub-fg').addClass("has-error");
                $('#sub-fg').addClass("has-feedback");
            }
        });
    }
});

$('#form_hashtag').change(function(){
    if($('#form_hashtag').val().indexOf(" ") >= 0) {
        $('#hash-fg .fg-icon').addClass("glyphicon-remove");
        $('#hash-fg').addClass("has-error");
    } else {
        $('#hash-fg .fg-icon').addClass("glyphicon-ok");
        $('#hash-fg .fg-icon').removeClass("glyphicon-remove");
        $('#hash-fg').removeClass("has-error");
        $('#hash-fg').addClass("has-success");
    }
});

$('#form_name').change(function(){
    $('#name-fg span').addClass("glyphicon-ok");
    $('#name-fg').addClass("has-success");
});
    
$('#confirmPass').change(function(){
    if($('#confirmPass').val() == $('#form_password').val()) {
        $('.pass-fg').removeClass('has-error');
        $('.pass-fg').addClass('has-success');
        $('.pass-fg span').removeClass('glyphicon-remove');
        $('.pass-fg span').addClass('glyphicon-ok');
    } else {
        $('.pass-fg').removeClass('has-success');
        $('.pass-fg').addClass('has-error');
        $('.pass-fg span').removeClass('glyphicon-ok');
        $('.pass-fg span').addClass('glyphicon-remove');
    }
});    
  
</script>
    
{% endblock %}