<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <link href='/assets/css/index.css' rel='stylesheet' type='text/css'>
    <link href='/assets/css/{{ page.theme }}.css' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link rel="shortcut icon" href="/favicon.ico">
    <link href='http://fonts.googleapis.com/css?family=Julius+Sans+One' rel='stylesheet' type='text/css'>
    
    
</head>
<body>
<div id="upper-nav" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand theme1" id="brand" href="/">#{{ page.hashtag }}</a>
          <ul class="nav navbar-nav pull-right">
              
              <li id="ht-control-play">
                  <a href="javascript:ht.start()" title="Play">
                      <span class="glyphicon glyphicon-play"></span>
                  </a>
              </li>
              
              <li id="ht-control-pause" class="active" title="Pause">
                  <a href="javascript:ht.pause()">
                      <span class="glyphicon glyphicon-pause"></span>
                  </a>
              </li>
              
              <li id="ht-control-random" class="active" title="Toggle Random Mode">
                  <a href="javascript:ht.shuffle()">
                      <span class="glyphicon glyphicon-random"></span>
                  </a>
              </li>
              
              <li id="ht-control-timeline">
                  <a href="javascript:ht.timeline()" title="Toggle Timeline Mode">
                      <span class="glyphicon glyphicon-time"></span>
                  </a>
              </li>
              
          </ul>    
        </div>
    </div>

<div class="container">
    <div class="row">
        <div id="tweets" class="hidden-phone" style="display:none;"></div>
    </div>
</div>    
       
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="/assets/js/functions.js"></script>
<script type="text/javascript" src="/assets/js/moment.js"></script>
<script type="text/javascript" src="/assets/js/instajam.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.js"></script>
<script type="text/javascript" src="/assets/js/Tweedia.js"></script>
<script type="text/javascript" src="/assets/js/hashtags.js"></script>
<script>
    $(document).ready(function(){
       if('{{ page.background }}' != '-1') {
           console.log("has background");
           $('body').css('background-image', 'url("/assets/img/{{ page.background }}")');
        }
        ht.init({{ page.site }}, "{{ page.hashtag }}", 30000, 6000);
        setTimeout(ht.start(), 500);

  $(document).keydown(function(evt) {
    if (evt.keyCode == 32) {
      if(ht.options.playing) {
          ht.pause();
        } else {
          ht.start();
        }
    }
  });

    });
</script>
</body>
</html>
